// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
  color: #e8600c !important;
}

h2 {
  text-align: center;
  font-family: Verdana, sans-serif;
  color: #21600c;
}

img {
  display: block;
  margin: 0 auto;
  width: 65%;
}

p {
  text-align: center;
}