// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: -webkit-linear-gradient(90deg, #abbaab 10%, #ffffff 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #abbaab 10%, #ffffff 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #abbaab 10%, #ffffff 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #abbaab 10%, #ffffff 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #abbaab 10%, #ffffff 90%); /* W3C */     
}

.jumbotron {
  margin-top: -50px;
}

.bikeCarousel {
  background-color: #dcdcdc;
}

.bikeCaption {
  font-family: Dosis, Verdana, sans-serif;
  color: #e8600c;
  font-size: 1.5em;
}

#carouselContainer {
  margin-bottom: 50px;
}

h1 {
  font-family: Dosis, Verdana, sans-serif;
  text-align: center;
  color: #e8600c !important;
  letter-spacing: 0.05em;
}

h2 {
  text-align: center;
  font-family: Dosis, Verdana, sans-serif;
  color: #21600c;
  letter-spacing: 0.05em;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

p {
  text-align: center;
}

#landingPage {
  font-size: 2.0em;
}

.btn {
  color: white !important;
}

#thankYouMsg {
  text-align: center;
  font-family: Dosis, Verdana, sans-serif;
  font-size: 1.5em;
  color: #21600c;
  letter-spacing: 0.05em;
}