<!DOCTYPE html>
<html>
<head>
  <title>Welcome To Peach State Bikes!</title>
  <!-- Custom Google Font -->
  <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  
  <!-- Current minimized Bootstrap -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="jumbotron">
    <h1>Welcome to Peach State Bikes!</h1>
    <h2>Your source for new and used bikes throughout Georgia.</h2>
  </div>
<%= yield %>

</body>
</html>
